body {
  background-image: url("../images/jeopardy-background.jpg");
 }

html {
  box-sizing: border-box;
}

body {
  text-align: center;
}

.container {
  position: relative;
  width: 1920px;
}

#quiz-area {
  width: 800px;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 48px;
  line-height: 20px;
  padding-left: 45px;
  padding-top: 40px;

}

#wins {
  font-family: 'Six Caps', sans-serif;
  font-size: 40px;
}

#answer-button {
  display: inline-block;
  height: 120px;
  width: 45%;
  background-color: white;
  margin: 10px;
  padding: 0px;
  font-family: 'Anton', sans-serif;
  color: #888;
  font-size: 70px;
}

#losses {
  font-family: 'Six Caps', sans-serif;
  font-size: 40px;
}

div.absolute {
    position: absolute;
    right: 240px;
    top: 65px;
    width: 870px;
    height: 380px;
    font-size: 42px;
    color: white;
}

div.absolute2 {
  position: absolute;
  right: 205px;
  top: 430px;
  width: 870px;
  height: 95px;
  font-size: 40px;
  color: white;
  margin-right: 35px;
  font-family: 'Open Sans Condensed', sans-serif;
}

button {
  display: inline-block;
  width: 20%;
  height: 20%;
  margin: 0 auto;
  font-size: 42px;
  border: 0;
}

#playAgain {
  width: 50%;
  margin: 0 auto;
  font-size: 24px;
  background: white;
  color: black;
  border: 0;
}

#title {
  font-family: 'Baloo Paaji', cursive;
  font-size: 120px;
  color: white;
}

/* h1 {
  padding-top: 2.5%;
  font-size: 48px;
  font-weight: bold;
  color: black;
} */

#start {
  margin-top: 20%;
  font-size: 50px;
  color: black;
  background-color: white;
  width: 210px;
  margin-right: 0px;
  text-transform: uppercase;
}

button:hover {
  color: lightblue;
}

#answer-button:hover {
  background-color: lightblue;
}
